/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
packages/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.userprefs
hapi-todo/
.#install.sh
node_modules/
.vs
/2016-04-28-Building-event-driven-architectures/es-todo-dotnet/TodoMvcApi/App_Data
/2016-04-28-Building-event-driven-architectures/~$Event Driven Architecture Presentation.pptx
/2016-04-28-Building-event-driven-architectures/._~$Event Driven Architecture Presentation.pptx
