<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

  </appSettings>
  <connectionStrings>
    <add name="Taxes" connectionString="data source=(localdb)\V12.0;initial catalog=Taxes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>